.local
.dev
.env
.env.auth
.env.assume
mysql/
node_modules/
*.log
.vs
.vscode
.editorconfig
.ds_store
.tmux.conf
dist/*
.history
.DS_Store
*.pem

desktop/cypress.env.json
desktop/cypress/videos/
desktop/cypress/screenshots/
desktop/cypress/downloads/
desktop/coverage/
desktop/.next/
desktop/node_modules/
desktop/build/

shared/node_modules/
shared/build/
shared/coverage/

mobile/coverage/
mobile/.next/
mobile/node_modules/
mobile/build/
mobile/.pnp
mobile/.pnp.js
mobile/public/workbox-*.js
mobile/public/sw.js
mobile/public/precache.*.*.js
mobile/public/worker-*.js
mobile/public/precache.*.*.js.map
mobile/public/sw.js.map
mobile/public/workbox-*.js.map
mobile/public/worker-*.js.map
